@media all
{
	.maps_search_keep_saved
	{
		margin-bottom: 1em;
	}

	.maps_search_input
	{
		margin: .5em;
		opacity: .2;
		padding: .5em;
		text-overflow: ellipsis;
		transition: all .4s ease;
		width: 95% !important;
	}

		.maps_search_container:hover .maps_search_input
		{
			opacity: 1;
		}

	.maps_search_map
	{
		height: 300px;
	}
}