.widget.maps_map
{
	position: relative;
}

	.widget.maps_map .map_container
	{
		height: 80vh;
		width: 100%;
	}

		.widget.maps_map .ol-zoomslider
		{
			background: rgba(0, 0, 0, .4);
			height: 40vh;
			left: 1em;
		}

			.widget.maps_map .ol-zoomslider button
			{
				cursor: pointer;
			}

		.widget.maps_map .ol-control button
		{
			font-size: 1.72rem;
		}